.parent-heading{
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}
.product-card-parent{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem
}

.product-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-card-img{
  width: 200px;
  height:200px

}

.pagination-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number{
  cursor: pointer;
  border-radius: 4px;
  padding: 7px;
  border: 1px solid black;
  margin: 4px;
}

.page-number:hover{
  background-color: antiquewhite;
}

.add-class{
  pointer-events: none;
}

.active-page{
  background-color: #ff8e513b;
}